body {
    margin: 0;
  }
  
  .sb-title {
    position: relative;
    top: -12px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
  }
  
  .sb-title-icon {
    position: relative;
    top: -5px;
  }
  
  .card-container {
    display: flex;
    height: 700px;
    width: auto;
  }
  
  .panel {
    background: white;
    width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
  }
  
  .half-input-container {
    display: flex;
    justify-content: space-between;
  }
  
  .half-input {
    max-width: 120px;
  }
  
  .map {
    width: 300px;
  }
  
  h2 {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  
  input {
    height: 30px;
  }
  
  input {
    border: 0;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
  }
  
  input:focus::placeholder {
    color: white;
  }
  
  .button-cta {
    align-self: start;
    background-color: #1976d2;
    border: 0;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: "Google Sans Text", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    padding: 3.5px 10.5px;
  }

  #gmp-map {
    display:none;
  }

  .textBox {
    border: 1px solid black;
    border-radius: 4px;
    height:35px;

  }

  .textBoxsub{

    border: 1px solid black;
    border-radius: 4px;
    height:35px;

  }

  .subContainter {

    display : flex;
    position: space-inbetwen;
  }

  .city {
    padding-right:48px;
  }

  .postalCode {
    padding-right:48px;
  }

  p {
    font-size:14px;
    padding:5px 0px 5px 0px
  }

  .checkboxLabel {
    display: flex;
    align-items: center;
  
  }

  .billingAddress {
    margin-top :20px;
  }
